[Unit]
Description=Check Deskovky Levne main every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=15s
Unit=deskovky-deploy.service

[Install]
WantedBy=timers.target
